{{>navbar}}
<div class="container-fluid about-header">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">

        <!--right side div-->
        <div class="col-md-6 col-12  about_header_right about">
          <img src="images/girl.png" alt="" class="pic">
        </div>

        <!--left side div-->
        <div class="col-md-6 col-12  main_header_left  ">

          <p>welcome to weather App</p>
          <h3>hey,i am  neha kumari and i am  <span class="text-co">full stack web developer.</span> </h3>
         <a href="https://www.linkedin.com/in/neha-k-b28487278" target="_blank">
   <button>Check me</button>
</a>






        </div>
      </div>
    </div>
  </div>


</div>
</p>
{{>footer}}